<% provide(:title, "Edit User") %> 
<% content_for :main do%>
	<h4>Edit User</h4>
	<%= render "form" %>	
	<p>
		<% unless !(@current_user && (@current_user.admin? || @current_user.doctor? || @current_user.receptionist?)) %>
			<%= link_to "<< Back to Users", users_path %> |
		<%end%>
		<% unless !(@current_user && @current_user.admin?) %>
			<%= link_to "Destroy", @user, method: :delete, data: { confirm: "Are you sure?" } %> | 
		<%end%>
		<%= link_to (@user.full_name), user_path(@user) %>
	</p>

<%end%>
