<% provide(:title, "Edit User") %> 
<% content_for :main do%>
	<% breadcrumb :edit_user, @user %>
	<h4>Edit User</h4>
	<%= render "form" %>	
	<p>
		<% unless !(@privileged_user_is_logged_in) %>
			<%= link_to "<< Back to Users", users_path %> |
		<%end%>
		<% unless !(@admin_is_logged_in) %>
			<%= link_to "Destroy", @user, method: :delete, data: { confirm: "Are you sure?" } %> | 
		<%end%>
		<%= link_to (@user.full_name), user_path(@user) %>
	</p>

<%end%>
