<% provide(:title, "New User") %> 
<% content_for :main do%>
	<% breadcrumb :new_user, @user %>
	<h4>Register</h4>
	<%= render "form" %>
	<p>
		<% unless !privileged_user_is_logged_in %>
			<%= link_to "<< Back to Users", users_path %> | 
		<%end%>
	</p>
<%end%>

