<% provide(:title, "Register") %> 
<% content_for :main do%>
	<h4>Register</h4>
	<%= render "form" %>
	<p>
			<%= link_to "<< Back to Patients", patients_path unless !(@privileged_user_is_logged_in)%>  
	</p>

<%end%>
