<% provide(:title, "Register") %> 
<% content_for :main do%>
	<h4>Register</h4>
	<%= render "form" %>
	<p>
		<% unless !(@current_user && (@current_user.admin? || @current_user.doctor? || @current_user.receptionist?)) %>
			<%= link_to "<< Back to Patients", patients_path %>  
		<%end%>
	</p>

<%end%>
