.header_image {
//	position: absolute;
	top: 0;
	left: 0;
	.header_text{
		position: absolute;
		top: 5%;
		left: 0.8em;
		font-size: 3em;
		color: #00A98F;
		word-wrap: break-word;
		width:	4em;
		height: 20%;
		line-height: 2.5rem;
	}
}

.white-font {
	color: #fff !important;
	h1, h2, h3, h4, h5, h6{
		color: #fff !important;
	}
}

.small_input select {
	width: 130px;
	display: inline !important;
}

.crossed_out {
	text-decoration: line-through;
	a {
		color: red !important;
	}
}

.nav-right{
	right: -2rem;
	position: absolute;
	float: right;
	width: 33rem !important;
}
.has-dropdown{
	width: 11rem !important;
}

.search {
	width: 169% !important;
	left: 1rem !important;
	position: relative;
}
.search_button{
	position: relative;
	left: 9rem;
}
