/**#wysihtml5-toolbar{
*	height: 75px;
}
.edy-tb-cmd, .ed-tb-g {
	font-size: 0.7rem !important;
	padding: 0.2rem;
	margin: 0 !important;
	//border: solid 1px #000000;
}
 .edy-tb-menucontainer{
	 width: 50%;
 }*/

/*WYSIHTML*/

 .wysihtml5-command-active {
    font-weight: bold;
  }
  
  [data-wysihtml5-dialog] {
    margin: 5px 0 0;
    padding: 5px;
    border: 1px solid #666;
  }
  
  a[data-wysihtml5-command-value="red"] {
    color: red;
  }
  
  a[data-wysihtml5-command-value="green"] {
    color: green;
  }
  
  a[data-wysihtml5-command-value="blue"] {
    color: blue;

/*OwlCarousel*/

    #owl-demo .item img{
        display: block;
        width: 100%;
        height: auto;
    }

/*Panels*/

    .panel-margin {
	    margin-right: 20px !important;
	    margin-left: 20px !important;
    }
