<% provide(:title, "New Appointment") %>
<% content_for :main do%>
	<% if patient_is_logged_in %>
		<% breadcrumb :new_patient_appointment, @current_user %>
	<% elsif doctor_is_logged_in %>
		<% breadcrumb :new_doctor_appointment, @current_user %>
	<%else%>
		<% breadcrumb :new_appointment %>
	<%end%>
	<h4>New Appointment</h4>
	<%= render "form" %>
	<p>
		<% if patient_is_logged_in %>
			<%= link_to "<< Back to Appointments", patient_appointments_path(@current_user.id) %>
		<% elsif doctor_is_logged_in %>
			<%= link_to "<< Back to Appointments", doctor_appointments_path(@current_user.id) %>
		<% else %>
			<%= link_to "<< Back to Appointments", appointments_path %>
		<%end%>
	</p>

<%end%>
