<% provide(:title, "New Appointment") %>
<% content_for :main do%>
	<h4>New Appointment</h4>
	<%= render "form" %>
	<p>
		<% if @current_user && @current_user.patient? %>
			<%= link_to "<< Back to Appointments", patient_appointments_path(@appointment.patient_id) %>
		<% elsif @current_user && @current_user.doctor? %>
			<%= link_to "<< Back to Appointments", doctor_appointments_path(@appointment.doctor_id) %>
		<% else %>
			<%= link_to "<< Back to Appointments", appointments_path %>
		<%end%>
	</p>

<%end%>
