<% provide(:title, "Edit Testimonial") %>
<% content_for :main do%>
	<h4>New Testimonial</h4>
	<%= render "form" %>
	<p>
		<%= link_to "<< Back to Testimonials", testimonials_path %> | 
		<%= link_to "Show Testimonial", testimonial_path(@testimonial) %> | 
		<%= link_to "Destroy", @testimonial, method: :delete, data: { confirm: "Are you sure? Deleted testimonials cannot be recovered." } %>
	</p>
<%end%>
