<footer class = "footer row">
<hr>

	<ul class="inline-list">
		<li>The Doctor's</li>
		<li><%= link_to "Home", root_path %></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Contact</a></li>
		<li class="float-right">Copyright 2016</li>
	</ul>
	<ul class = "inline-list text-center">
		<li><%=link_to image_tag("nhs_111.jpg"), "https://www.nhs.uk/111/" %></li>
		<li><%=link_to image_tag("nhs_choices.gif"), "https://www.nhs.uk/" %></li>
	</ul>
</footer>

